:root {
    --color1: #FFFFFF;
    --color2: #FFEAF0;
    --color3: #FFD4E0;
    --color4: #F2A3C2;
    --color5: #A05A80;
    --color6: #50082B;
    --main-color: #f70081;
    --secondary-color: #cbcbcb;
}